:root {
  --bg-primary: #1abc9c;
  --bg-secondary: #2c3e50;

  --primary-color: #ffff;
  --secondary-color: #2c3e50;
  --bg-secondary-darker: #1a252f;
}
.primary-bg {
  background-color: var(--bg-primary);
}
.secondary-bg {
  background-color: var(--bg-secondary);
}
.secondary-darker-bg {
  background-color: var(--bg-secondary-darker);
}
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  color: var(--secondary-color);
}

/* Navbar start */

.active {
  background-color: var(--bg-primary) !important;
  border-radius: 10px !important;
}

.navbar-nav .nav-item {
  width: fit-content;
  /* padding: 14px; */
}
/* Navbar end */

/* Page Title start */
.left-bar,
.right-bar {
  width: 20%;
  height: 4px;
  left: 25%;
  bottom: -8px;
  /* background-color: white; */
}
.right-bar {
  left: unset;
  right: 25%;
}
.icon {
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 14px);
}
.title-container {
  width: fit-content;
}
/* Page Title end */

/* Product start */

.wrapper {
  background-color: rgba(26, 188, 156, 0);

  inset: 0;
  transition: 0.5s;
  transform: translate(0, 20px);
}

.img-card:hover .wrapper {
  background-color: rgba(26, 188, 156, 1);
  transform: translate(0, 0px);
}
.img-card:hover .wrapper .plus-icon {
  color: rgba(255, 255, 255, 1);
}
.plus-icon {
  color: rgba(255, 255, 255, 0);
}

.main-input {
  border: none;
  border-bottom: 2px solid #dee2e6;
  outline: none;
}
input[type="submit"] {
  width: fit-content;
  background-color: var(--bg-primary);
  border-color: var(--bg-primary);
}

/* Footer start*/
.social-icon {
  transition: 0.4s;
  color: white;
  background-color: transparent;
}
.social-icon:hover {
  color: var(--bg-secondary-darker);
  background-color: white;
}

/* Footer end */
/* Product end */
/* :root {


  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
